@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Hind+Guntur:wght@300&family=Noto+Sans:wght@300&display=swap');

body {
  background-image: url('../public/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: white
}

h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 250%;
  margin: 25px;
}

h2, h3, h4, h5 {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 175%;
  text-align: center;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

.planets {
  display: flex;
}

.planet-card {
  text-align: center;
}

.Mercúrio {
  width: calc(98vw / 8);
}

.Vênus {
  width: calc(98vw / 8);

}

.Terra {
  width: calc(98vw / 8);

}

.Marte {
  width: calc(98vw / 8);

}

.Júpiter {
  width: calc(98vw / 8);

}

.Saturno {
  width: calc(98vw / 8);

}

.Urano {
  width: calc(98vw / 8);

}

.Netuno {
  width: calc(98vw / 8);

}

.missions {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  justify-content: space-around;
}

.mission-card {
  background-color: rgba(25, 25, 32, 0.90);
  padding: 0px 25px;
  margin: 15px;
  border-radius: 10%;
  text-align: center;
}